<link rel="stylesheet" href="../static/styles.css" type="text/css">


<!DOCTYPE html>

<head>
    <title>Manage Profiles</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <h4>This list of users recently have been signed in to this program.</h4>
    <table id="user-info">
        <thead>
            <tr>
                <th> User</th>
                <th> Last Login </th>
            </tr>
        </thead>
        <tbody id="userRecords">

        </tbody>

    </div>
    <py-script src="firebase.py">

    </py-script>
</body>